[Unit]
Description=pal Daemon
After=network.target

[Service]
Type=simple
User=pal
Group=pal
WorkingDirectory=/pal
ExecStart=/usr/bin/pal -c /pal/pal.yml -d /pal/actions
Restart=on-failure

[Install]
WantedBy=default.target