[Unit]
Description=pal Daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/pal
ExecStart=/opt/pal/pal -c /opt/pal/pal.yml -a /opt/pal/pal-actions.yml
Restart=on-failure

[Install]
WantedBy=default.target