.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%);
  border-radius: 0 !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.fm-menu .list-group a {
  font-size: 16px;
  color: #5f5f5f;
  display: flex;
  align-items: center;
}
.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}
.list-group-item + .list-group-item {
  border-top-width: 0;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.radius-15 {
  border-radius: 15px;
}
.fm-icon-box {
  font-size: 32px;
  background: #ffffff;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
.ms-auto {
  margin-left: auto !important;
}
.font-30 {
  font-size: 30px;
}
.user-groups img {
  margin-left: -14px;
  border: 1px solid #e4e4e4;
  padding: 2px;
  cursor: pointer;
}
.rounded-circle {
  border-radius: 50% !important;
}
body {
  /* min-height: 75rem; */
  padding-top: 6.5rem;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.spin-animation {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fs-7 {
  font-size: 0.9rem;
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgb(130 171 233) !important;
}
.text-success {
  --bs-text-opacity: 1;
  color: rgb(105 199 155) !important;
}
.text-danger {
  --bs-text-opacity: 1;
  color: rgb(229 112 123) !important;
}
a {
  color: rgb(62 130 231);
  text-decoration: underline;
}
.bg-blue {
  --bs-bg-opacity: 1;
  background-color: rgb(82 110 211) !important;
}
.btn-danger {
  --bs-btn-bg: rgb(211 82 94) !important;
}
.btn-success {
  --bs-btn-bg: rgb(87 177 135) !important;
}
.btn-primary {
  --bs-btn-bg: rgb(62 130 231) !important;
}
.btn-info {
  --bs-btn-bg: #86ebff !important;
}
.btn {
  border-radius: 0 !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(41 50 60) !important;
}
.modal-content {
  border-radius: 0 !important;
}
.form-control {
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
pre {
  margin-top: 0;
  margin-bottom: 0;
}
.form-check-input[type="checkbox"] {
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.pal-logo {
  font-family: "Sixtyfour", sans-serif;
}
.navbar {
  padding: 0.75rem 1.5rem;
}
.nav-link {
  color: #adb5bd !important;
  display: flex;
  align-items: center;
  gap: 6px;
}
.nav-link:hover {
  color: #fff !important;
}
.active {
  color: #fff !important;
}
.table tbody td {
  padding: 0.75rem 0.75rem;
  vertical-align: middle;
  border-bottom: 2px solid #3d4248;
}
.table tbody tr:last-child td {
  border-bottom: none;
}
.form-check-input:checked {
  background-color: #c92020;
}
.material-symbols-outlined {
  vertical-align: middle;
}
