name: pal-ci
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches: ["main"]

permissions: read-all

jobs:
  build-test-scan:
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
      GOBIN: /home/runner/go/bin

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set Up Golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ">=1.25.1"

      - name: Run Linters
        run: |
          sudo apt install libgpgme-dev pkg-config libbtrfs-dev
          make install-deps
          echo
          make lint

      - name: Build pal Binary and Packages
        run: |
          make pkg-amd64
          file ./pal
          du -sh ./pal
          sha256sum ./pal
          ./pal -h

      - name: Run Tests Twice Using pal Docker Containers
        run: |
          make certs
          make debian
          make test && make test
          make e2e
          rm -f ./localhost.*

      - name: Run Vulnerability Scanner On Filesystem
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          severity: HIGH,CRITICAL
