name: pal-ci
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches: ["main"]

permissions: read-all

jobs:
  build-test-scan:
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
      GOBIN: /home/runner/go/bin

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set Up Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ">=1.26.0"

      - name: Run Linters
        run: |
          make install-deps
          echo
          make lint

      - name: Build pal Binary and Packages
        run: |
          make pkg-arm64
          file ./pal
          du -sh ./pal
          sha256sum ./pal
          make pkg-amd64
          ./pal -h
          file ./pal
          du -sh ./pal
          sha256sum ./pal
          file ./pal-*.rpm
          file ./pal_*.deb
          du -sh ./pal-*.rpm
          du -sh ./pal_*.deb
          sha256sum ./pal-*.rpm
          sha256sum ./pal_*.deb

      - name: Run Tests Twice Using pal Docker Containers
        run: |
          make certs
          make debian
          make test && make e2e
          make alpine
          make test && make e2e
          rm -f ./localhost.*

      - name: Run Vulnerability Scanner On Filesystem
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # v0.34.1
        with:
          scan-type: "fs"
          scan-ref: "."
          severity: HIGH,CRITICAL
